body {
    margin-right: inherit;
    margin-left: inherit;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: darkslategray;
}

img {
    height: 300px;
    width: 300px;
    border: 2px solid transparent;
    border-radius: 50px;
    margin-right: 5px;
    margin-top: 5px;
    padding-top: 20px;
    object-fit: contain;
}

footer {
    height: 300px;
    width: inherit;
    border: 2px solid white;
    border-radius: 10px;
}

.header {
    background-image: url('Logos/Virtual%20Tech%20Solutions%20Logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid white;
    border-radius: 10px;
    height: 600px;
}

.iframe {
    border: 2px solid white;
    color: white;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

#scrollToTop {
    display: none;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 99;
    border: transparent;
    outline: none;
    background-color: transparent;
    color: transparent;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 35px;
    height: 135px;
}

.img-border {
    border: 2px solid white;
    border-radius: 10px;
    padding-bottom: 10px;
    font-size: 35px;
    color: white;
    text-align: center;
    padding: 30px;
    letter-spacing: normal;
    word-spacing: normal;
}

button {
    padding: 10px;
    border-radius: 10px;
    height: 100px;
    width: 200px;
}
