body {
    text-align: center;
    background-color: darkslategray;
}

img {
    height: 90%;
    width: 90%;
    object-fit: contain;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 10px;
    margin-right: 25px;
}

button {
    padding: 10px;
    border-radius: 10px;
    height: 100px;
    width: 200px;
}

.header {
    background-image: url('Logos/Virtual%20Tech%20Solutions%20Logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid white;
    border-radius: 10px;
    height: 600px;
}

main {
    text-align: center;
}


.footer {
    border: 2px solid white;
    border-radius: 10px;
    height: 700px;
    width: 100%;
}

.contact-info {
    border: 2px solid white;
    border-radius: 10px;
    height: 500px;
    width: 100%;
}

.profile-border,
.border-services,
.border {
    border: 2px solid white;
    border-radius: 10px;
    height: auto;
}

h1,
h2 {
    font-size: 35px;
    color: white;
    text-align: center;
    padding: 30px;
    letter-spacing: normal;
    word-spacing: normal;
}

p, li {
    font-size: 45px;
    color: white;
    text-align: justify;
    padding: 30px;
    letter-spacing: normal;
    word-spacing: normal;
}

.iframe {
    border: 2px solid white;
    color: white;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

#scrollToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #1C4966;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 35px;
}

.badges {
    height: 500px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.badges-border,
.social-media {
    border: 2px solid white;
    height: 750px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    text-align: center;
    border-radius: 10px;
    display: block;
}

.social-media {
    border: 2px solid white;
    height: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    text-align: center;
    border-radius: 10px;
    display: block;
}

.google-border {
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    height: 300px;
}

.chat-bot {
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    height: 75px;
}


